<div class="ui top attached tabular menu hit" show ={nodeSelected} >
    <a class="active item" data-tab="first">Sub Themes ({hiddenNodes.length})</a>
    <a class="item" data-tab="second">In nodes ({edgesIn.length})</a>
    <a class="item" data-tab="third">Out nodes ({nodesOut.length})</a>
</div>
<div class="ui bottom attached active tab segment hit" data-tab="first" show ={nodeSelected} >
    <div class="ui fluid search selection dropdown">
        <input id="subnode-input" type="hidden">
        <i class="dropdown icon"></i>
        <div class="default text">Select SubNode</div>
        <div class="menu">
            <div each={hiddenNodes} class="item" data-value="{id}"></i>
                {name} ({relevance})
            </div>
        </div>
    </div>
</div>
<div class="ui bottom attached tab segment hit" data-tab="second" show ={nodeSelected}  >
    <table class="ui selectable celled table" >

        <tbody>
        <tr each={edgesIn} onmouseover="{onSelect}" onmouseout="{onOut}">
            <td><i style="color: {color};" class="circle icon"></i>
                <a onclick="{selectNode}" data-value="{id}"><b>{label}</b></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="ui bottom attached tab segment hit" data-tab="third" show ={nodeSelected}  >
    <table class="ui selectable celled table" >
        <thead>
        <tr>
            <th colspan="2">
                {titletext}
            </th>
        </tr>
        <tr>
            <th class="number sorted ascending">
                size
            </th>
            <th>
                Name
            </th>
        </tr>

        </thead>
        <tbody>
        <tr each={nodesOut} >
            <td class="color red left aligned collapsing ">
                {size}
            </td>
            <td><i style="color: {color};" class="circle icon"></i>
                <a onclick="{selectNode}" data-value="{id}"><b>{label}</b></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>