<!--<div class="ui container segment center aligned">-->
    <!--&lt;!&ndash;<div class="main-logos">&ndash;&gt;-->
        <!--&lt;!&ndash;<img class="dm-logo" src="{'./assets/img/Lambert3.png'}">&ndash;&gt;-->
        <!--&lt;!&ndash;<img class="asf-logo" src="{'./assets/img/asf_logo.svg'}">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<h1 class="ui header">-->
        <!--Created in <a href="https://datamonsters.co">Data Monsters Lab</a>-->
    <!--</h1>-->
<!--</div>-->

<graph-container></graph-container>

<head-up-display></head-up-display>