<div class="view-container">
    <div class="ui search" id="searchnode">
        <div class="ui icon input">
            <input id="si" class="prompt" type="text" placeholder="Search">
            <i class="search icon" id="sicon"></i>
        </div>
        <div class="results"></div>
    </div>


    <div id="outside" if="{node}">
        <div id="scrollable">
            <h1 id="adescription">
                <details open="{!g.editmode}">
                    <summary><h1><u>{node.name}</u></h1></summary>
                    <p class="nodedetails">{node.info}</p>
                    <span style="padding-left:0rem; font-size: 1rem; margin-top: 0px;">
                        <a href="https://en.wikipedia.org/wiki/{node.wikiID}" target="_blank">Wikipedia</a>
                    </span>
                </details>
                <!-- <span class="relatedtopics"><br>Related tags:</span>-->
                <div class="flexwords">
                    <div each="{basetag, i in node.tags}" class="tags" id="{basetag.name}">
                        <div class="pointing" onclick="{selectTag}">#{basetag.name}</div>
                    </div>
                </div>
                <span class="relatedtopics"><br><h4>Related Articles:</h4></span>
                <div class="flexwords">
                    <div each={node.nodesInOut} class="linkis">
                        <input if={g.editmode} type="checkbox" checked="{isEx(node.id)}" onchange="{changeEx}">
                        <a class="pointing" onclick="{nodeSelect}">{name}</a>
                    </div>
                </div>
        </div>
    </div>
</div>

<!--
<div class='applogo'>
	<div class="appheader">Data Science Map</div>
	<img id="logo"  src="{'./assets/logo.png'}">
	<div class="copyright">by <a target="_blank" href="http://www.datamonsters.co/">Data Monsters</a></div>
</div>
-->
<div class="appheader">Data Science Map</div>	
<div class="copyright">Extracted, processed and visualized by <a target="_blank" href="http://www.datamonsters.co/">Data Monsters</a></div>
<zoom></zoom>