<div id="welcome" class="ui raised very padded text container segment">
    <h2 class="ui header">Data Science Map</h2>
    <p>Exploring a new discipline is always a difficult task – that’s why we are proud to provide you with a Data
        Science Map to help you with this journey. The Map segments common machine learning techniques into logical
        regions and helps you chart a course through the complex ecosystem.</p>
    <p><a class="ui primary button" href="#v">Explore existing maps</a>
        <a class="ui secondary button " href="#e">Modify own map</a></p>
</div>