 <div class="head-up-display">


     <div class="ui menu hit">

         <div class="ui category search item">
             <div class="ui transparent icon input">
                 <input id="node-search" class="prompt" type="text" placeholder="Search node...">
                 <i class="search link icon"></i>
             </div>
             <div class="results"></div>

         </div>
         <!--<div class="item">-->
             <!--Search Action-->
         <!--</div>-->
         <!--<a class="search-mode camera item" data-text="camera" onclick="{searchSelectMode}">-->
             <!--Move Camera-->
         <!--</a>-->
         <!--<a class="search-mode select item" data-text="select" onclick="{searchSelectMode}">-->
             <!--Select node-->
         <!--</a>-->


         <!--<div class="right menu">-->
             <div class="item">
                 <div class="ui primary button" onclick="{resetState}">Reset</div>
             </div>
         <!--</div>-->
     </div>
    <rating-table></rating-table>
 </div>
 <h2 class="nodeName">{nodeName}</h2>