<div class="ui pointing top fixed inverted menu edit-menu">
	<div class="left  item">
        <!--<div class="ui action input">-->
            <!--<input type="text" placeholder="Navigate to...">-->
            <!--<div class="ui inverted basic button">Deselect</div>-->
        <!--</div>-->

		<div class="">{title}</div>
	</div>
		<a class="item disabled">
			<i class="folder open icon"></i> Load
		</a>
		<a class="item disabled">
			<i class="save icon" onclick="{save}"></i> Save
		</a>
		<a class="item" onclick="{configure}">
			<!--<i class="grid layout icon"></i> DataSet: approach3(12041-12.13.85)-->
			<i class="grid layout icon"></i> Configure Data
		</a>
</div>
<div class="spacer"></div>
