zoom {
    pointer-events: auto !important;
    position: absolute;
    left: 0;
    top: 30%;
}

.zoom .base {
    height: 3.5rem;
    width: 3.5rem;
    cursor: pointer;
    background-color: rgba(236, 236, 238, 0.9);
    border-radius: 0.5rem;
    margin: 1rem;
    vertical-align: middle;
    text-align: center;
}

.zoom em {
    font-style: normal;
    height: 3.5rem;
    width: 3.5rem;
    vertical-align: middle;
    text-align: center;
    font-size: 2rem;
    display: table-cell;
}

