zoom {
    pointer-events: auto !important;
    position: absolute;
    right: 0;
    top: 30%;
}

.zoom .base {
    height: 60px;
    width: 60px;
    cursor: pointer;
    background-color: #bde1f9;
    margin: 10px;
    vertical-align: middle;
    text-align: center;


}

.zoom em {
    height: 60px;
    width: 60px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    display: table-cell;
}